@import url("https://db.onlinewebfonts.com/c/4267d8aa8711bb8c72cbefb26066c9e0?family=Bookman+Old+Style%22");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap%27%22");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  height: 100vh;
  width: 100vw;
}
.content {
  display: flex;

  width: 100%;
  height: 100%;
}
.left-section {
  width: 50%;
  border-right: 5px solid black;
}
.right-section {
  display: flex;
  align-items: flex-end;
  width: 50%;
}
.circle {
  position: absolute;
  height: 220px;
  z-index: 4;
  left: 658px;
  top: 60px;
  width: 220px;
  border-radius: 50%;
  background-color: #e84545;
}
.bottomleft {
  display: flex;

  height: 65%;
}
.bottomright {
  display: flex;
  height: 65%;
}
.intro {
  padding-top: 200px;
  padding-right: 30px;
  font-family: "IBM Plex Sans", "sans-serif";
}
.intro p {
  padding-bottom: 10px;
}
.topleft {
  background-color: transparent;

  z-index: 999;
  height: 35%;
}
.topleft h1 {
  font-family: "Bookman Old Style", "sans-serif";
  z-index: 5;
  font-weight: 300;
  font-size: 72px;
  line-height: 108.5%;
  text-align: center;
  position: absolute;
  left: 395px;
  top: 115px;
}
.topright {
  height: 35%;
}

.dishank,
.sameer {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 99.5%;
  /* identical to box height, or 30px */

  text-align: center;
}
.dishank {
  padding-left: 20px;
}
.dishankinfo {
  padding-left: 40px;
}
.btn {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 99.5%;
  border: 3px solid black;
  padding: 5px;
  transition: 0.3s;
}
.btnright {
  margin-left: 38px;
}
.btnleft {
  margin-left: 133px;
}
.sameerinfo {
  text-align: right;
  padding-bottom: 50px;
}
btn :hover{
  transition: 0.3s;     
  background-color: #E84545;
}  
